#calculator {
  width: 300px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 70px;
  height: 40px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

#clearBtn {
  background-color: #ff6347;
  color: white;
}

#calcBtn {
  background-color: #4caf50;
  color: white;
}

.value {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
